
<body class="">
  <div class="detalle-wrapper" *ngIf="imagen">
    <div class="detalle-container">
      
      <!-- Imagen -->
      <div class="image-container">
        <img 
          [src]="imagen.imageUrl" 
          [alt]="imagen.title" 
          class="img-fluid" />
      </div>

      <!-- Texto -->
      <div class="text-container">
        <h2>{{ imagen.title }}</h2>
        <a [routerLink]="['/usuario', imagen.userId]">
          {{ imagen.user }}
        </a>
        <p>{{ imagen.description }}</p>
      </div>

    </div>
  </div>
</body>