<div class="container mt-4" *ngIf="imagen">
  <div class="row">
    <div class="col-md-6 image-container">
      <img [src]="imagen.imageUrl" [alt]="imagen.title" class="img-fluid rounded shadow">
    </div>

    <div class="col-md-6 d-flex flex-column justify-content-center">
      <h2 class="mb-3">{{ imagen.title }}</h2>
                <a 
            [routerLink]="['/usuario', imagen.userId]" 
            style="text-decoration: none; color: #007bff; cursor: pointer;">
            {{ imagen.user }}
          </a>
      <p>{{ imagen.description }}</p>
    </div>
  </div>
</div>
