<div class="masonry-container">
  <div class="masonry-card" *ngFor="let item of data">
    <a [routerLink]="['/imagen', item.id]">
      <img *ngIf="item.imageUrl"
           [src]="item.imageUrl"
           [alt]="item.title"
           class="img-fluid"
           style="width: 100%; border-radius: 10px; margin-bottom: 10px; cursor: pointer;">
    </a>
    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-text">{{ item.description }}</p>
      <p><strong>Subido por:</strong> {{ item.user }}</p>
    </div>
  </div>
</div>
